<% if(events.length) { %>
	<ul class="unstyled list-unstyled cal-event-list">
		<% _.each(events, function(event){ %>
        <% var start = {} %>
        <% var end = {} %>
        <% start.date = new Date(parseInt(event.start)) %>
        <% end.date = new Date(parseInt(event.end)) %>
        <% start.hours = start.date.getHours() < 10 ? "0" + start.date.getHours() : start.date.getHours()%>
        <% start.minutes = start.date.getMinutes() < 10 ? "0" + start.date.getMinutes() : start.date.getMinutes()%>
        <% end.hours = end.date.getHours() < 10 ? "0" + end.date.getHours() : end.date.getHours()%>
        <% end.minutes = end.date.getMinutes() < 10 ? "0" + end.date.getMinutes() : end.date.getMinutes()%>
			<li style="padding-top: 0px; padding-bottom: 24px">
                <span class="pull-left event <%= event['class'] %>"></span>
				<a href="" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>" class="event-item" data-toggle="modal" data-target="#eventModal" onclick="showEventModal(this)">
					<%= event.title %>
                </a>
                <span class="pull-right">
                    <%= start.date.toLocaleDateString() %>
                    <%= start.hours + ":" + start.minutes %>
                    -
                    <%= end.date.toLocaleDateString() %>
                    <%= end.hours + ":" + end.minutes%>

                    <div>
                        <a href="javascript:void('Absagen')" class="glyphicon glyphicon-remove pull-right" id='<%= event.id%>' onclick='setUserAttendance(this.id, false)'>Absagen</a>
                        <a href="javascript:void('Teilnehmen')" class="glyphicon glyphicon-ok pull-right" id='<%= event.id%>' onclick='setUserAttendance(this.id, true)'>Teilnehmen</a>
                    </div>
                </span>
                <div>
                </div>
            </li>
		<% }) %>
	</ul>
<% } else  { %>
	<p><%= cal.locale.no_events_in_day %></p>
<% }  %>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body" id="modalBody">
                <div id="modalDateTime"></div>
                <div id="modalDescription"></div>
                <ul id="modalAttendants"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetModal()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->